body {
    background-color: #eee;
	color: #444;
	font-family:sans-serif;
}
.emphasis {
	font-style: italic;
}
.code-inline {
	font-family: monospace;
}
.textarea-proportional {
	font-family: sans-serif;
}
* {
	margin:4px;
}
.hidden {
	display:none;
}
.reader-paragraph {
	margin: 10px;
	padding:5px;
}
.page-header {
	margin: 10px;
	padding:5px;
	text-decoration-line: underline;
	font-size:1.2em;
}
#title {
	font-size:1.4em;
	margin: 10px;
	padding:5px;
	text-decoration-line: underline;
}
#subtitle {
	font-size:1.1em;
	margin: 10px;
	padding:5px;
}
#explainer {
	margin: 10px;
	padding:5px;
}
#main-body {
	width:50%;
	margin:auto;
}
#contents_ol_main {
	list-style-type: lower-roman;
}

td {
	min-width:192px;
	text-align: center;
	border: 1px solid #444;
	border-collapse: collapse;
}
th {
	
	border: 1px solid #444;
	border-collapse: collapse;
}
table {
	border: 1px solid #444;
	border-collapse: collapse;
}
#div_byline, #div_dedications {
	padding: 20px;
	margin-top:10px;
}