body {
	font-family: sans-serif;
}
div {
	width:80%;
	margin:auto;
	/*border:1px solid black;*/
}
nav {
	float:left;
	max-width:20%;
	
}
ul#navLinks {
	list-style-type:none;
	padding:10px;
	margin:10px;
}
ul>li {
	padding:10px;
}
div#content {
	padding:20px;
}